[Desktop Entry]
Version=1.0
Name=Monitor
Exec=python3 /home/linaro/debug.py
Path=/home/linaro/
Terminal=true
Type=Application
Categories=Utility;Application;
X-KeepTerminal=true
